
*.mp4
*.jpg
*.zip
*.exe
*.txt
*.csv
*.jpeg
*.png
*.xlsx
*.swf
*.pdf
*.css
*.webp
*.lnk
*.mkv
*.dll
*.RUN
*.docx
*.md
*.log
*.rar
*.html
*.3gpp
*.mp3
*.ini
BrosVwegba/.gitattributes
*.url
*.doc
*.avi
*.svg
*.mhtml
*.temp
*.msi
*.dat
kisha/unsemantic/
*.DS_Store
